/* COLORS

9596BA - MD BLUE GRAY
B2B3CC - LT BLUE GRAY
F0F0F8 - LT GRAY
D9D9E0 - MD LT GRAY
AAAAB6 - MD GRAY
9595A2 - DK GRAY

*/

/* HEADER STYLES */

* {
    box-sizing: border-box;

}

:root {
    --slider-width: min(80vw, 1050px);
    --md-bl-gray: #9596BA;
    --lt-bl-gray: #B2B3CC;
    --lt-gray: #F0F0F8;
    --md-lt-gray: #D9D9E0;
    --md-gray: #AAAAB6;
    --dk-gray: #9595A2;
}

.hdr {
    position: fixed;
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: 3rem 6rem;
    grid-template-areas:
        "inf inf"
        "brand nav";
    background-color: #D9D9E0;
    z-index: 5;
}

.hdr-info {
    grid-area: inf;
    background-color: #AAAAB6;
    height: 3rem;
    min-width: 100vw;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hdr-info h5 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.hdr-logo {
    background-image: url(../media/DonDorLogoPlain.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
}

.hdr-brand {
    grid-area: brand;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hdr-brand h3 {
    margin-bottom: 4rem;
    margin-left: 3rem;
}

.hdr-name {
    font-size: 3rem;
}

h1 {
    color: #2E3192;
    font-size: 3rem;
}

h2 {
    color: #2E3192;
    font-size: 2.4rem;
    font-family: 'Roboto Slab';
}

.h2-l {
    text-align: left;
    align-self: left;
}

.h2-r {
    text-align: right;
    align-self: right;
}

h3 {
    color: #2E3192;
    font-size: 1.8rem;
    font-family: 'Roboto Slab'; 
}

.h3-l {
    text-align: left;
    align-self: flex-start;
}

.h3-r {
    text-align: right;
    align-self: right;
}

h4 {
    color: #2E3192;
    font-size: 1.6rem;
    font-family: 'Roboto Slab'; 
}

h5 {
    color: #2E3192;
    font-size: 1.4rem;
    font-family: 'Roboto Slab';
}

h6 {
    color: #2E3192;
    font-size: 1rem;
    font-family: 'Roboto Slab';
    margin: .2rem;
}

/* NAV STYLES */

.nav-list {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    min-width: 100%;
    padding: 0;
}

.nav-item {
    padding: 2rem;
    list-style: none;
    flex: none;
    flex-direction: row;
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list a {
    color: #2E3192;
    text-decoration: none;
}

.nav-list-mob a {
    color: #2E3192;
    text-decoration: none;
}

.nav-list a:hover {
    transition: .3s;
    border-bottom: 4px solid #2E3192;
    border-top: 4px solid #2E3192;
}

/* BODY STYLES */

body {
    min-height: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #D9D9E0;
    padding: 0;
    margin: 0;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-body {
    width: 80%;
    max-width: 1200px;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* TODO */
/* min-height here hides footer in mobile menu */
.site-body {
    min-height: 60vh;
    width: 100%;
    background-color: #F0F0F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    padding-bottom: 4rem;
}

/* IMAGE STYLES */

.logo {
    max-width: 90%;
}

.main-logo {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.main-logo img {
    height: 300px;
    width: 300px;
}

/* IMAGE SLIDER */

.slider-wrapper h2 {
    text-align: center;
    }

.img-slider {
    position: relative;
    width: var(--slider-width);
    overflow: hidden;
    cursor: col-resize;
    z-index: 0;
}

.img-slider img {
    display: block;
    width: var(--slider-width);
    height: auto;
    max-height: 90vh;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.after-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.after-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: var(--slider-width);
}

.slider {
    position: absolute;
    top: 0;
    left: calc(50% - (50px)/2);
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 2;
}

.slider-line {
    width: 4px;
    flex-grow: 1;
    background-color: white;
}

/* CONTENT BOXES */

.cb {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, 2fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "cb-hd cb-hd"
        "cb-l cb-r";
    grid-gap: 20px;
    background-color: #F0F0F8;
}

.cb-l {
    display: flex;
    flex-direction: column;
    grid-area: cb-l;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
}

.cb-l p {
    padding: 1rem;
}

.cb-l img {
    max-width: 100%;
}

.cb-r {
    display: flex;
    flex-direction: column;
    grid-area: cb-r;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 2rem;
}

.cb-r p {
    padding: 1rem;
}

.cb-r img {
    max-width: 100%;
}

.cb-hd {
    grid-area: cb-hd;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* FEATURED PRODS */
.fp-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.fp-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.fp-img img {
    max-width: 500px;
}

.fp-desc h5 {
    display: flex;
    justify-content: center;
}

/* FOOTER */

.ft-main {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    background-color: #D9D9E0;
    width: 100%;
    margin-top: 4rem;
    z-index: 5;
}

.ft-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "name"
        "ctct";
    justify-items: left;
    align-items: center;
}

.ft-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.ft-name {
    grid-area: name;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ft-name h4 {
    margin: .2rem;
}

.ft-name p {
    margin: .2rem;
}

.ft-ctct {
    grid-area: ctct;
}

.ft-ctct h4 {
    margin: .2rem;
    font-size: 1.4rem;
}

.ft-ph {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ft-ph p {
    margin: .2rem;
}

.ft-em {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ft-em p {
    margin: .2rem;
}

.ft-nav-item {
    padding: 1rem;
    list-style: none;
    font-family: 'Roboto Slab';
    font-size: 1.2rem;
    font-weight: bold;
    justify-self: left;
}

.disclaimer {
    font-size: .8rem;
    text-align: center;
}

#md-list {
    width: 40vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 4rem;
    font-size: 1.4rem;
}

#md-list li {
    text-align: left;
}

.grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-list li {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    width: 14rem;
    text-align: left;
}

#map-wrapper {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
}

#map-static {
    display: none;
}

/* @media screen and (min-width: 1600px) {
    .content-wrap {
        width: 80%;
        margin: 0 auto;
    }
} */

@media screen and (max-width: 800px) {

    .site-body {
        margin-top: 7rem;
    }

    .main-body {
        width: 100%;
    }

    .ft-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .ft-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "name"
            "ctct";
        grid-gap: 10px;
        max-width: 100%;
        justify-items: center;
        align-items: center;
    }

    .cb {
        min-width: 100%;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: minmax(1fr, 2fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "cb-hd"
            "cb-l"
            "cb-r";
        grid-gap: 20px;
        background-color: #F0F0F8;
    }

    .cb-r {
        justify-content: flex-start;
        padding-right: 0rem;
    }

    .cb-r p {
        padding: 0;
        margin: 1rem;
    }

    .cb-l {
        justify-content: flex-start;
        padding-left: 0rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .cb-l p {
        padding: 0;
        margin: 1rem;
    }

    .cb-hd {
        padding: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .cb-hd h2 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .main-logo img {
        height: 100%;
        width: 100%;
    }

    .door-after {
        width: 12rem;
        height: 9rem;
        background-size: contain;
    }

    .door-after:active {
        background-size: contain;
        width: 12rem;
        height: 9rem;
    }

    :root {
        --slider-width: 90vw;
    }

    .slider-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: .5rem;
    }

    .slider-wrapper p {
        text-align: center;
    }

    h2 {
        font-size: 1.8rem
    }

    h3 {
        font-size: 1.6rem;
    }

    .h3-l {
        text-align: center;
    }

    .h3-r {
        text-align: center;
    }

    h5 {
        font-size: 1.4rem;
    }

    .hdr {
        position: fixed;
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: 2rem 5rem;
        grid-template-areas:
            "inf inf"
            "brand btn";
        background-color: #D9D9E0;
    }

    .hdr-logo {
        display: none;
    }

    .hdr-nav {
        position: fixed;
        z-index: 5;
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: 2rem 5rem auto;
        grid-template-areas:
            "inf inf"
            "brand btn"
            "nav nav";
        background-color: #D9D9E0;
    }

    .nav-list li {
        display: none;
    }

    .nav-list-mob {
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #D9D9E0;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .nav-btn {
        grid-area: btn;
        background-image: url(../media/DoorMenu.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        align-self: center;
        justify-self: end;
        margin-right: 1rem;
    }

    .nav-btn-on {
        grid-area: btn;
        background-image: url(../media/DoorMenuOpen.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        align-self: center;
        justify-self: end;
        margin-right: 1rem;
    }

    .hdr-info {
        grid-area: inf;
        background-color: #AAAAB6;
        height: 2rem;
        min-width: 100vw;
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hdr-info h2 {
        font-size: 1.4rem;
    }

    .nav-item {
        padding: 1rem;
        list-style: none;
        flex: none;
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .nav-item-closed {
        display: none;
    }

    .hdr-brand {
        justify-self: start;
        align-self: center;
    }

    .hdr-brand h3 {
        font-size: 2.4rem;
        margin-left: 1rem;
        margin-bottom: 2.6rem;
    }

    #md-list {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        align-items: start;
    }

    #md-list h3 {
        margin-left: 1rem;
    }

    .fp-item {
        width: 100%;
    }

    .fp-desc {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .fp-desc ul {
        padding-left: 1rem;
    }

    .fp-img img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #map-static {
        display: inline;
    }

    #map-static img {
        width: 95%;
    }

    #map {
        display: none;
    }
}