/* COLORS

9596BA - MD BLUE GRAY
B2B3CC - LT BLUE GRAY
F0F0F8 - LT GRAY
D9D9E0 - MD LT GRAY
AAAAB6 - MD GRAY
9595A2 - DK GRAY

*/

/* HEADER STYLES */

* {
    box-sizing: border-box;

}

:root {
    --slider-width: min(80vw, 1050px);
    --md-bl-gray: #9596BA;
    --lt-bl-gray: #B2B3CC;
    --lt-gray: #F0F0F8;
    --md-lt-gray: #D9D9E0;
    --md-gray: #AAAAB6;
    --dk-gray: #9595A2;
    --ddi-blue: #2E3192;
    --generic-shadow: 
        1.4px 1.4px 3.6px -10px rgba(0, 0, 0, 0.024),
        3.8px 3.8px 10px -10px rgba(0, 0, 0, 0.035),
        9px 9px 24.1px -10px rgba(0, 0, 0, 0.046),
        20px 20px 60px -10px rgba(0, 0, 0, 0.07);
}

.hdr {
    position: fixed;
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: 3rem 6rem;
    grid-template-areas:
        "inf inf"
        "brand nav";
    background-color: var(--lt-gray);
    z-index: 5;
}

.hdr-info {
    grid-area: inf;
    background-color: #AAAAB6;
    height: 3rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.hdr-info h5 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.hdr-info a {
    color: white;
    text-decoration: none;
}

.hdr-logo {
    background-image: url(../media/DonDorCircleText.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5rem;
    width: 20rem;
}

.hdr-brand {
    grid-area: brand;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hdr-name {
    font-size: 3rem;
}

h1 {
    color: var(--ddi-blue);
    font-size: 3rem;
    font-family: 'Roboto Slab';
}

h2 {
    color: var(--ddi-blue);
    font-size: 2.4rem;
    font-family: 'Roboto Slab';
}

.h2-l {
    text-align: left;
    align-self: left;
}

.h2-r {
    text-align: right;
    align-self: right;
}

h3 {
    color: var(--ddi-blue);
    font-size: 1.8rem;
    font-family: 'Roboto Slab'; 
}

.h3-l {
    text-align: left;
    align-self: flex-start;
}

.h3-r {
    text-align: right;
    align-self: right;
}

h4 {
    color: var(--ddi-blue);
    font-size: 1.6rem;
    font-family: 'Roboto Slab'; 
}

h5 {
    color: var(--ddi-blue);
    font-size: 1.4rem;
    font-family: 'Roboto Slab';
}

h6 {
    color: var(--ddi-blue);
    font-size: 1rem;
    font-family: 'Roboto Slab';
    margin: .2rem;
}

/* NAV STYLES */

.nav-list {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    min-width: 100%;
    padding: 0;
}

.nav-item {
    padding: 2rem;
    list-style: none;
    flex: none;
    flex-direction: row;
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list a {
    color: var(--ddi-blue);
    text-decoration: none;
}

.nav-list-mob a {
    color: var(--ddi-blue);
    text-decoration: none;
}

.nav-list a:hover {
    transition: .3s;
    border-bottom: 4px solid var(--ddi-blue);
    border-top: 4px solid var(--ddi-blue);
}

/* BODY STYLES */

body {
    min-height: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-body {
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* TODO */
/* min-height here hides footer in mobile menu */
.site-body {
    min-height: 60vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

/* IMAGE STYLES */

.logo {
    max-width: 90%;
}

.main-logo {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.main-logo img {
    height: 300px;
    width: 300px;
}

#clopay-logo {
    width: 300px;
}

.service-area-img {
    width: 26rem;
    border-radius: .5rem;
}

  /* Noto v1 icon pack */

.em-icon-lg {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg fill='white' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M14.85 49.05v51.42h98.3V49.05L64 73.49z'/%3E%3Cpath d='M14.85 27.53V41.2L64 65.63l49.15-24.43V27.53z'/%3E%3C/g%3E%3Cpath fill='white' d='M64.02 38.78c15.6 0 26.11 10.46 26.21 26.05c.01.13.01.31.02.52c.01 1.28-.21 3.89-1.69 6.42c-.13.24-.26.48-.42.71c-1.63 2.34-4.78 3.86-8.05 3.87h-.02c-3.1 0-5.94-1.27-7.84-3.48c-2.24 2.69-5.67 4.44-10.06 4.45h-.04c-4.94 0-8.73-2.16-10.9-5.45c-1.21-1.84-1.91-4.04-2.03-6.41a8.02 8.02 0 0 1-.03-.7c-.02-6.95 4.96-12.6 12.95-12.62h.02c2.56 0 4.77.62 6.65 1.64v-.69c0-.3.24-.55.55-.55l6.62-.02c.3 0 .55.24.55.55l.03 8.83h.04c.03.93.21 2.27.53 3.48c.25.97.6 1.86 1.03 2.38c.55.65 1.42.76 1.91.76h.03c.85 0 1.52-.37 1.66-.52c.63-.9.73-2.15.71-2.63v-.08l-.01-.31c-.02-8.89-4.86-18.38-18.39-18.38h-.07c-10.84.02-18.4 7.34-18.37 17.8c0 .36.03.71.05 1.06c.12 2.33.62 4.48 1.45 6.41C49.8 78.14 56 82.11 63.99 82.11h.05c4.47-.01 8.48-1.24 11.6-3.55l4.66 6.28c-4.47 3.31-10.08 5.07-16.24 5.08h-.08c-12.46 0-22.11-7.25-25.17-18.03c-.58-2.02-.9-4.17-.99-6.41c-.01-.35-.05-.7-.05-1.06c-.03-14.81 10.97-25.6 26.17-25.63c.02-.01.05-.01.08-.01m-1.9 31.76h.02c3.42-.01 5.62-2.25 5.93-5.14c.03-.23.06-.46.06-.7c-.01-3.2-2.32-5.81-6.01-5.81h-.02c-3.69.01-5.99 2.63-5.98 5.84c0 .24.04.47.07.7c.32 2.88 2.52 5.11 5.93 5.11m1.9-37.09h-.1c-8.74.02-16.74 3.14-22.51 8.8c-5.81 5.69-8.99 13.57-8.98 22.18c0 .33.02.66.04.99l.02.25c.11 2.71.5 5.28 1.19 7.69c3.79 13.31 15.68 21.91 30.3 21.91c7.4-.01 14.1-2.13 19.49-6.13a5.337 5.337 0 0 0 1.11-7.46l-.39-.52c3.42-.9 6.43-2.89 8.33-5.62c.24-.35.45-.71.65-1.07c2.12-3.63 2.42-7.28 2.41-9.14c0-.26-.01-.47-.02-.63c-.18-18.42-13.13-31.25-31.54-31.25'/%3E%3Cpath fill='%232E3192' fill-rule='evenodd' d='M90.23 64.83c-.1-15.62-10.65-26.09-26.29-26.05c-15.2.03-26.2 10.82-26.17 25.63c0 .36.04.71.05 1.06c.09 2.25.41 4.39.99 6.41c3.08 10.81 12.75 18.06 25.25 18.03c6.15-.01 11.77-1.77 16.24-5.08l-4.66-6.28c-3.11 2.31-7.13 3.53-11.6 3.55c-8.01.02-14.23-3.96-16.96-10.24c-.83-1.93-1.33-4.09-1.45-6.41c-.02-.35-.05-.7-.05-1.06c-.02-10.46 7.53-17.77 18.37-17.8c13.58-.03 18.44 9.48 18.46 18.38l.01.31v.08c.02.48-.08 1.73-.71 2.63c-.14.15-.81.52-1.66.52c-.48 0-1.38-.1-1.94-.76c-.44-.52-.78-1.42-1.03-2.38c-.32-1.21-.51-2.55-.53-3.48h-.04l-.03-8.83c0-.3-.25-.55-.55-.55l-6.62.02c-.3 0-.55.25-.55.55v.69c-1.88-1.02-4.1-1.65-6.67-1.64c-7.98.02-12.96 5.67-12.95 12.62c0 .24.02.47.03.7c.12 2.38.82 4.57 2.03 6.41c2.18 3.3 5.98 5.47 10.94 5.45c4.39-.01 7.82-1.76 10.06-4.45c1.9 2.21 4.75 3.49 7.86 3.48c3.27-.01 6.42-1.52 8.05-3.87c.16-.23.29-.47.42-.71c1.48-2.53 1.7-5.15 1.69-6.42c.02-.2.01-.38.01-.51m-22.16.57c-.31 2.89-2.51 5.13-5.93 5.14c-3.42.01-5.63-2.23-5.95-5.11c-.03-.23-.07-.46-.07-.7c-.01-3.21 2.3-5.83 5.98-5.84c3.7-.01 6.02 2.6 6.03 5.81c0 .24-.04.47-.06.7' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

.em-icon-sm {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg fill='white' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M14.85 49.05v51.42h98.3V49.05L64 73.49z'/%3E%3Cpath d='M14.85 27.53V41.2L64 65.63l49.15-24.43V27.53z'/%3E%3C/g%3E%3Cpath fill='white' d='M64.02 38.78c15.6 0 26.11 10.46 26.21 26.05c.01.13.01.31.02.52c.01 1.28-.21 3.89-1.69 6.42c-.13.24-.26.48-.42.71c-1.63 2.34-4.78 3.86-8.05 3.87h-.02c-3.1 0-5.94-1.27-7.84-3.48c-2.24 2.69-5.67 4.44-10.06 4.45h-.04c-4.94 0-8.73-2.16-10.9-5.45c-1.21-1.84-1.91-4.04-2.03-6.41a8.02 8.02 0 0 1-.03-.7c-.02-6.95 4.96-12.6 12.95-12.62h.02c2.56 0 4.77.62 6.65 1.64v-.69c0-.3.24-.55.55-.55l6.62-.02c.3 0 .55.24.55.55l.03 8.83h.04c.03.93.21 2.27.53 3.48c.25.97.6 1.86 1.03 2.38c.55.65 1.42.76 1.91.76h.03c.85 0 1.52-.37 1.66-.52c.63-.9.73-2.15.71-2.63v-.08l-.01-.31c-.02-8.89-4.86-18.38-18.39-18.38h-.07c-10.84.02-18.4 7.34-18.37 17.8c0 .36.03.71.05 1.06c.12 2.33.62 4.48 1.45 6.41C49.8 78.14 56 82.11 63.99 82.11h.05c4.47-.01 8.48-1.24 11.6-3.55l4.66 6.28c-4.47 3.31-10.08 5.07-16.24 5.08h-.08c-12.46 0-22.11-7.25-25.17-18.03c-.58-2.02-.9-4.17-.99-6.41c-.01-.35-.05-.7-.05-1.06c-.03-14.81 10.97-25.6 26.17-25.63c.02-.01.05-.01.08-.01m-1.9 31.76h.02c3.42-.01 5.62-2.25 5.93-5.14c.03-.23.06-.46.06-.7c-.01-3.2-2.32-5.81-6.01-5.81h-.02c-3.69.01-5.99 2.63-5.98 5.84c0 .24.04.47.07.7c.32 2.88 2.52 5.11 5.93 5.11m1.9-37.09h-.1c-8.74.02-16.74 3.14-22.51 8.8c-5.81 5.69-8.99 13.57-8.98 22.18c0 .33.02.66.04.99l.02.25c.11 2.71.5 5.28 1.19 7.69c3.79 13.31 15.68 21.91 30.3 21.91c7.4-.01 14.1-2.13 19.49-6.13a5.337 5.337 0 0 0 1.11-7.46l-.39-.52c3.42-.9 6.43-2.89 8.33-5.62c.24-.35.45-.71.65-1.07c2.12-3.63 2.42-7.28 2.41-9.14c0-.26-.01-.47-.02-.63c-.18-18.42-13.13-31.25-31.54-31.25'/%3E%3Cpath fill='%232E3192' fill-rule='evenodd' d='M90.23 64.83c-.1-15.62-10.65-26.09-26.29-26.05c-15.2.03-26.2 10.82-26.17 25.63c0 .36.04.71.05 1.06c.09 2.25.41 4.39.99 6.41c3.08 10.81 12.75 18.06 25.25 18.03c6.15-.01 11.77-1.77 16.24-5.08l-4.66-6.28c-3.11 2.31-7.13 3.53-11.6 3.55c-8.01.02-14.23-3.96-16.96-10.24c-.83-1.93-1.33-4.09-1.45-6.41c-.02-.35-.05-.7-.05-1.06c-.02-10.46 7.53-17.77 18.37-17.8c13.58-.03 18.44 9.48 18.46 18.38l.01.31v.08c.02.48-.08 1.73-.71 2.63c-.14.15-.81.52-1.66.52c-.48 0-1.38-.1-1.94-.76c-.44-.52-.78-1.42-1.03-2.38c-.32-1.21-.51-2.55-.53-3.48h-.04l-.03-8.83c0-.3-.25-.55-.55-.55l-6.62.02c-.3 0-.55.25-.55.55v.69c-1.88-1.02-4.1-1.65-6.67-1.64c-7.98.02-12.96 5.67-12.95 12.62c0 .24.02.47.03.7c.12 2.38.82 4.57 2.03 6.41c2.18 3.3 5.98 5.47 10.94 5.45c4.39-.01 7.82-1.76 10.06-4.45c1.9 2.21 4.75 3.49 7.86 3.48c3.27-.01 6.42-1.52 8.05-3.87c.16-.23.29-.47.42-.71c1.48-2.53 1.7-5.15 1.69-6.42c.02-.2.01-.38.01-.51m-22.16.57c-.31 2.89-2.51 5.13-5.93 5.14c-3.42.01-5.63-2.23-5.95-5.11c-.03-.23-.07-.46-.07-.7c-.01-3.21 2.3-5.83 5.98-5.84c3.7-.01 6.02 2.6 6.03 5.81c0 .24-.04.47-.06.7' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

.ph-icon-lg {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='white' d='M24.1 1.68C11.08 10.61-.7 20.41.86 32.01C2.5 44.44 17.34 71.87 36.74 91.27c19.4 19.39 46.8 34.22 59.26 35.88c11.6 1.55 21.39-10.23 30.32-23.25c1.39-1.82 1.27-4.44-.39-6.1c-.2-.2-.42-.36-.63-.52v-.04L98.11 77.82h-.03c-1.83-1.33-4.38-1.2-6.03.46c-.17.16-.3.35-.43.52c-.01 0-.01.01-.01.01c-.08.12-.15.23-.23.33c-1.82 2.62-1.8 2.95-3.28 5.21c-2.08 3.29-4.5 8.36-6.89 14.1c-7.63-1.16-19-7.79-31.43-20.23C37.33 65.8 30.7 54.43 29.53 46.79c5.76-2.39 10.82-4.8 14.1-6.89c2.27-1.48 2.6-1.46 5.21-3.28c.12-.07.23-.15.33-.23c.19-.13.37-.28.53-.43a4.62 4.62 0 0 0 .45-6.03l.02-.04L30.76 2.72l-.03-.01c-.15-.22-.32-.44-.51-.63a4.657 4.657 0 0 0-6.12-.4'/%3E%3Cpath fill='%232e3092' d='M111.03 95.04c1.14.63 2.61 1.76 3.11 2.06c1.01.61 1.98 1.16 2.95 1.84c2.16 1.53 3 3.55 1.42 5.83c-2.1 3.02-7.55 9.38-11.72 7.37c-1.54-.76 1.19-7.8 1.46-9.03c.38-1.7.32-9.42 2.78-8.07M30.87 38.31c-.33-.72.19-1.96.92-2.91c.7-.9 1.62-1.76 2.19-2.74c1.29-2.21-.39-11.4 1.89-11.4c1.21 0 2.62 1.56 3.29 2.4c1.03 1.28 1.62 2.88 2.62 4.21c.71.95 1.74 1.96 2.02 3.14c.62 2.61-2.32 3.7-4.13 4.78c-2.21 1.31-4.6 2.85-7.23 3.09c-.89.09-1.38-.15-1.57-.57'/%3E%3C/svg%3E");
  }

  .ph-icon-md {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='white' d='M24.1 1.68C11.08 10.61-.7 20.41.86 32.01C2.5 44.44 17.34 71.87 36.74 91.27c19.4 19.39 46.8 34.22 59.26 35.88c11.6 1.55 21.39-10.23 30.32-23.25c1.39-1.82 1.27-4.44-.39-6.1c-.2-.2-.42-.36-.63-.52v-.04L98.11 77.82h-.03c-1.83-1.33-4.38-1.2-6.03.46c-.17.16-.3.35-.43.52c-.01 0-.01.01-.01.01c-.08.12-.15.23-.23.33c-1.82 2.62-1.8 2.95-3.28 5.21c-2.08 3.29-4.5 8.36-6.89 14.1c-7.63-1.16-19-7.79-31.43-20.23C37.33 65.8 30.7 54.43 29.53 46.79c5.76-2.39 10.82-4.8 14.1-6.89c2.27-1.48 2.6-1.46 5.21-3.28c.12-.07.23-.15.33-.23c.19-.13.37-.28.53-.43a4.62 4.62 0 0 0 .45-6.03l.02-.04L30.76 2.72l-.03-.01c-.15-.22-.32-.44-.51-.63a4.657 4.657 0 0 0-6.12-.4'/%3E%3Cpath fill='%232e3092' d='M111.03 95.04c1.14.63 2.61 1.76 3.11 2.06c1.01.61 1.98 1.16 2.95 1.84c2.16 1.53 3 3.55 1.42 5.83c-2.1 3.02-7.55 9.38-11.72 7.37c-1.54-.76 1.19-7.8 1.46-9.03c.38-1.7.32-9.42 2.78-8.07M30.87 38.31c-.33-.72.19-1.96.92-2.91c.7-.9 1.62-1.76 2.19-2.74c1.29-2.21-.39-11.4 1.89-11.4c1.21 0 2.62 1.56 3.29 2.4c1.03 1.28 1.62 2.88 2.62 4.21c.71.95 1.74 1.96 2.02 3.14c.62 2.61-2.32 3.7-4.13 4.78c-2.21 1.31-4.6 2.85-7.23 3.09c-.89.09-1.38-.15-1.57-.57'/%3E%3C/svg%3E");
  }

  .ph-icon-sm {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='white' d='M24.1 1.68C11.08 10.61-.7 20.41.86 32.01C2.5 44.44 17.34 71.87 36.74 91.27c19.4 19.39 46.8 34.22 59.26 35.88c11.6 1.55 21.39-10.23 30.32-23.25c1.39-1.82 1.27-4.44-.39-6.1c-.2-.2-.42-.36-.63-.52v-.04L98.11 77.82h-.03c-1.83-1.33-4.38-1.2-6.03.46c-.17.16-.3.35-.43.52c-.01 0-.01.01-.01.01c-.08.12-.15.23-.23.33c-1.82 2.62-1.8 2.95-3.28 5.21c-2.08 3.29-4.5 8.36-6.89 14.1c-7.63-1.16-19-7.79-31.43-20.23C37.33 65.8 30.7 54.43 29.53 46.79c5.76-2.39 10.82-4.8 14.1-6.89c2.27-1.48 2.6-1.46 5.21-3.28c.12-.07.23-.15.33-.23c.19-.13.37-.28.53-.43a4.62 4.62 0 0 0 .45-6.03l.02-.04L30.76 2.72l-.03-.01c-.15-.22-.32-.44-.51-.63a4.657 4.657 0 0 0-6.12-.4'/%3E%3Cpath fill='%232e3092' d='M111.03 95.04c1.14.63 2.61 1.76 3.11 2.06c1.01.61 1.98 1.16 2.95 1.84c2.16 1.53 3 3.55 1.42 5.83c-2.1 3.02-7.55 9.38-11.72 7.37c-1.54-.76 1.19-7.8 1.46-9.03c.38-1.7.32-9.42 2.78-8.07M30.87 38.31c-.33-.72.19-1.96.92-2.91c.7-.9 1.62-1.76 2.19-2.74c1.29-2.21-.39-11.4 1.89-11.4c1.21 0 2.62 1.56 3.29 2.4c1.03 1.28 1.62 2.88 2.62 4.21c.71.95 1.74 1.96 2.02 3.14c.62 2.61-2.32 3.7-4.13 4.78c-2.21 1.31-4.6 2.85-7.23 3.09c-.89.09-1.38-.15-1.57-.57'/%3E%3C/svg%3E");
  }

/* IMAGE SLIDER */

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-wrapper h2 {
    text-align: center;    
}

.slider-wrapper p {
    text-align: center;
}

.img-slider {
    position: relative;
    width: var(--slider-width);
    overflow: hidden;
    cursor: col-resize;
    z-index: 0;
}

.img-slider img {
    display: block;
    width: var(--slider-width);
    height: auto;
    max-height: 90vh;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.after-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.after-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: var(--slider-width);
}

.slider {
    position: absolute;
    top: 0;
    left: calc(50% - (50px)/2);
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 2;
}

.slider-line {
    width: 4px;
    flex-grow: 1;
    background-color: white;
}

/* CONTENT BOXES */

.cb {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, 2fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "cb-hd cb-hd"
        "cb-i cb-i";
    grid-gap: 2rem;
    justify-items: center;
    box-shadow: var(--generic-shadow);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cb-item {
    gap: 3rem;
    width: 90%;
    max-width: 1200px;
    grid-area: cb-i;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    padding-top: .5rem;
}

.cb-l {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cb-l img {
    max-width: 500px;
}

.cb-l p {
    padding: 1rem;
    max-width: 60ch;
}

.cb-r {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.cb-r img {
    max-width: 500px;
}

.cb-r p {
    padding: 1rem;
    max-width: 60ch;
}

.cb-hd {
    grid-area: cb-hd;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cb-hd h2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* FEATURED PRODS */
.fp-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.fp-wrap a {
    text-decoration: none;
}

.fp-hd h3 {
    margin-bottom: 0;
}

.fp-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
    grid-auto-rows: 100px;
    gap: 1rem;
    grid-template-areas:
        "fp-img fp-desc"
        "fp-list fp-list";
    justify-content: center;
    align-items: center;
    max-width: 500px;
    background-color: white;
    border: 0px;
    border-radius: 1rem;
    padding: 1.4rem;
    box-shadow: var(--generic-shadow);
    transition: .3s;
}

.fp-item:hover {
    transform: scale(1.05);
    transition: .3s;
}

.fp-img {
    grid-area: fp-img;
}

.fp-img img {
    width: 200px;
    height: auto;
}

.fp-desc {
    grid-area: fp-desc;
    align-self: start;
}

.fp-img img {
    max-width: 500px;
}

.fp-desc h5 {
    display: flex;
    justify-content: center;
}

.fp-desc h6 {
    text-align: center;
}

.fp-list {
    grid-area: fp-list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.ph-coa-wrapper {
    transition: .3s;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--ddi-blue);
    border-radius: 5rem;
}

.ph-coa-wrapper:hover {
    transform: scale(1.05);
    transition: .3s;
}

.ph-coa-wrapper a {
    text-decoration: none;
}

.ph-coa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ph-coa h1 {
    color: white;
}

.sm-coa-btn {
    width: 14rem;
    transition: .3s;
    padding: .5rem;
    background-color: var(--ddi-blue);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-coa-btn:hover {
    transform: scale(1.05);
    transition: .3s;
}

/* FOOTER */

.ft-wrapper {
    background-color: var(--lt-gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ft-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--lt-gray);
    margin-top: 4rem;
    z-index: 4;
}

.ft-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "name"
        "ctct";
    justify-items: left;
    align-items: center;
}

.ft-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.ft-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ft-name-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ft-logo {
    background-image: url(../media/DonDorCircleText.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5rem;
    width: 20rem;
}

.ft-name-txt {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ft-name h4 {
    margin: .2rem;
}

.ft-name p {
    margin: .2rem;
}

.ft-ctct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.ft-ctct h4 {
    margin: .2rem;
    font-size: 1.4rem;
}

.ft-ctct p {
    margin: .2rem;
}

.ft-ph {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ft-ph p {
    margin: .2rem;
    color: white;
}

.ft-em {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ft-em p {
    margin: .2rem;
    color: white;
}

.ft-nav-item {
    padding: 1rem;
    list-style: none;
    font-family: 'Roboto Slab';
    font-size: 1.2rem;
    font-weight: bold;
    justify-self: left;
}

.disclaimer {
    font-size: .8rem;
    text-align: center;
}

.md-list-wrapper h3 {
    text-align: left;
}

.md-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.4rem;
}

.md-list li {
    text-align: left;
}

.grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-list li {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    width: 14rem;
    text-align: left;
}

#map-wrapper {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
}

#map-static {
    display: none;
}

/* @media screen and (min-width: 1600px) {
    .content-wrap {
        width: 80%;
        margin: 0 auto;
    }
} */

@media screen and (max-width: 800px) {

    body {
        font-size: 1rem;
    }

    .site-body {
        margin-top: 7rem;
        margin-bottom: 2rem;
    }

    .main-body {
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }

    .ft-main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .ft-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "name"
            "ctct";
        grid-gap: 10px;
        max-width: 100%;
        justify-items: center;
        align-items: center;
    }

    .cb {
        min-width: 100%;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: minmax(1fr, 2fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "cb-hd"
            "cb-i";
        grid-gap: 20px;
    }

    .cb-item {
        flex-wrap: wrap;
        padding: 0rem;
        margin: 0rem;
        width: 100%;
    }

    .cb-r {
        justify-content: flex-start;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .cb-r img {
        width: 100%;
    }

    .cb-r p {
        padding: 0;
        margin: 1rem;
    }

    .cb-l {
        justify-content: flex-start;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .cb-l img {
        width: 100%;
    }

    .cb-l p {
        padding: 0;
        margin: 1rem;
    }

    .cb-l h3 {
        align-self: center;
    }

    .cb-hd {
        padding: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .cb-hd h2 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .fp-wrap {
        padding: 0;
    }

    .fp-item {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(100px, auto));
        grid-auto-rows: auto;
        grid-template-areas:
            "fp-img"
            "fp-desc"
            "fp-list";
    }

    .fp-img {
        justify-self: center;
    }

    .fp-desc {
        height: fit-content;
    }

    .fp-desc h5 {
        margin: 1rem;
    }

    .main-logo img {
        height: 100%;
        width: 100%;
    }

    .door-after {
        width: 12rem;
        height: 9rem;
        background-size: contain;
    }

    .door-after:active {
        background-size: contain;
        width: 12rem;
        height: 9rem;
    }

    :root {
        --slider-width: 90vw;
    }

    .slider-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: .5rem;
    }

    .slider-wrapper p {
        text-align: center;
    }

    h2 {
        font-size: 1.8rem
    }

    h3 {
        font-size: 1.6rem;
    }

    .h3-l {
        text-align: center;
    }

    .h3-r {
        text-align: center;
    }

    h5 {
        font-size: 1.4rem;
    }

    .hdr {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2rem 5rem;
        grid-template-areas:
            "inf inf"
            "brand btn";
    }

    .hdr-logo {
        background-image: url('../media/DonDorText.svg');
        width: 12rem;
        height: 2.4rem;
    }

    .hdr-nav {
        width: 100%;
        position: fixed;
        z-index: 5;
        display: grid;
        justify-items: center;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2rem 5rem auto;
        grid-template-areas:
            "inf inf"
            "brand btn"
            "nav nav";
        background-color: var(--lt-gray);
    }

    .nav-list li {
        display: none;
    }

    .nav-list-mob {
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--lt-gray);
        padding: 0;
        margin: 0;
    }

    .nav-btn {
        grid-area: btn;
        background-image: url(../media/DoorMenu.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        align-self: center;
        justify-self: end;
        margin-right: 1rem;
    }

    .nav-btn-on {
        grid-area: btn;
        background-image: url(../media/DoorMenuOpen.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        align-self: center;
        justify-self: end;
        margin-right: 1rem;
    }

    .hdr-info {
        height: 2rem;
    }

    .hdr-info h2 {
        font-size: 1.4rem;
    }

    .nav-item {
        padding: 1rem;
        list-style: none;
        flex: none;
        font-family: 'Roboto Slab';
        font-size: 1.2rem;
        font-weight: bold;
    }

    .nav-item-closed {
        display: none;
    }

    .hdr-brand {
        justify-self: start;
        align-self: center;
    }

    .hdr-brand h3 {
        font-size: 2.4rem;
        margin-left: 1rem;
        margin-bottom: 2.6rem;
    }

    .md-list-wrapper h3 {
        text-align: center;
    }

    .md-list {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        align-items: start;
    }

    .ph-coa-wrapper {
        max-width: 90%;
    }

    .ph-icon-lg {
        width: 32px;
        height: 32px;
    }

    .ph-coa {
        gap: 1rem;
    }

    .ph-coa h1 {
        font-size: 1.6rem;
    }

    #md-list h3 {
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    #map-static {
        display: inline;
    }

    #map-static img {
        width: 95%;
    }

    #map {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .hdr-info h2 {
        font-size: 1.2rem;
    }

    .hdr-brand h3 {
        font-size: 2rem;
    }

    .md-list {
        font-size: 1.1rem;
    }

    .main-logo {
        font-size: 1rem;
    }

    .cb-r p {
        margin: .5rem;
    }

    .cb-l p {
        margin: .5rem;
    }

    .ph-coa-wrapper {
        width: 94%;
    }

    .ph-icon-lg {
        width: 32px;
        height: 32px;
    }
}