/* HEADER STYLES */

.info-header {
    background-color: #333343;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid #333343;
    border-radius: .5em;
    text-align: center;
}

.nav-header {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #2E3192;
}

.nav-bar {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    padding: 0;
}

.nav-list li {
    padding: 2rem;
    list-style: none;
    flex: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-list a {
    color: #2E3192;
    text-decoration: none;
}

.nav-list a:hover {
    padding-top: 6px;
    transition: .3s;
    border-bottom: 4px solid #2E3192;
    border-top: 4px solid #2E3192;
}

/* BODY STYLES */

body {
    font-family: Helvetica, Arial, sans-serif;

}

.body-1 {
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

.left-1 {
    flex: none;
    margin: 2rem;
}

.right-1 {
    flex: none;
    margin: 2rem;
    background-color: #2E3192;
    color: white;
    padding: .5rem;
    border: #2E3192 solid 1px;
    border-radius: .5em;
}

.right-1 h1, h2, h3 {
    text-align: center;
}

.main-body {
    display: flex;
    justify-content: center;
}

/* IMAGE STYLES */

.body-image {
    border: black solid 2px;
    border-radius: .5em;
    background: url(../media/cathedral.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.header-image {
    padding: 2rem;
}

/* CONTENT BOXES */

.content-box {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "image txt";
    grid-gap: 20px;
    max-width: 50rem;
}

.content-box-bizarro {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "txt image";
    grid-gap: 20px;
    max-width: 50rem;
}

.content-box-image {
    grid-area: image;
}

.content-box-image img {
    max-width: 20rem;
}

.content-box-text {
    grid-area: txt;
}